<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948098744063-6d04vsm6uke5vm9t6797mie9ibpa6i39.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948098744063-6d04vsm6uke5vm9t6797mie9ibpa6i39</string>
	<key>API_KEY</key>
	<string>AIzaSyB-T685jtlqCQLBO7HiAHY7X7oLTDEMhxg</string>
	<key>GCM_SENDER_ID</key>
	<string>948098744063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tenton.radioone</string>
	<key>PROJECT_ID</key>
	<string>radio-one-1b03f</string>
	<key>STORAGE_BUCKET</key>
	<string>radio-one-1b03f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948098744063:ios:4f388c3cc9c312e9</string>
	<key>DATABASE_URL</key>
	<string>https://radio-one-1b03f.firebaseio.com</string>
</dict>
</plist>