<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783295021914-j4gsobaqbrm3093k1d57fo7pk57i2hae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783295021914-j4gsobaqbrm3093k1d57fo7pk57i2hae</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>783295021914-0hovd1kvqavpm8m58bperaagv7pirhaq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ6oyuJx4I_q-BEhJdJhAom_Iu6pY5OY0</string>
	<key>GCM_SENDER_ID</key>
	<string>783295021914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.combike</string>
	<key>PROJECT_ID</key>
	<string>bike-tracker-45f88</string>
	<key>STORAGE_BUCKET</key>
	<string>bike-tracker-45f88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783295021914:ios:09684b3d3610c8633fe963</string>
	<key>DATABASE_URL</key>
	<string>https://bike-tracker-45f88.firebaseio.com</string>
</dict>
</plist>